.navbar{
    background-color: var(--primary-color);
}

.navbar__logo-navbar{
    width: 150px;
    border-radius: 5px;
    height: 50px;
}

.navbar__options--right{
    justify-content: right;
}

.navbar__btn-dark{
    background-color: var(--fourth-color);
    color: var(--primary-color);
    border-radius: 5px 0px 0px 5px;
    border-top: 1px solid var(--fourth-color);
    border-left: 1px solid var(--fourth-color);
    border-bottom: 1px solid var(--fourth-color);
}

.navbar__btn-light{
    background-color: var(--fiveth-color);
    color: var(--primary-color);
    border-radius: 0px 5px 5px 0px;
    margin-right: 5px;
    border-top: 1px solid var(--fourth-color);
    border-right: 1px solid var(--fourth-color);
    border-bottom: 1px solid var(--fourth-color);
}

.navbar__btn-profile{
    border: 1px solid var(--fourth-color);
    color: var(--fourth-color);
    border-radius: 5px;
   
}

.navbar__btn-toggler-navbar, .navbar__btn-toggler-sidebar{
    border: 1px solid var(--fourth-color);
    color: var(--fourth-color);
    padding: 0px;
    width: 35px;
    margin: 0px;
    height: 35px;
}

.navbar__dropdown__btn-profile{
  
    display: inline;
}

.navbar__dropdown__group{
    background: var(--second-color);
}

.navbar__dropdown__group_logout-btn{
   color: var(--sixth-color);
}

.navbar__dropdown__group_logout-btn:hover{
    background-color: var(--third-color);
}





