<div class="container">
  <div class="row">
    <div class="table-responsive">
      <table aria-describedby="table-cattle" class="table table-striped">
        <thead class="thead">
          <tr>
            <th scope="col" class="text-center">Primary Tag</th>
            <th scope="col" class="text-center">Secondary Tag</th>
            <th scope="col" class="text-center">Sex</th>
            <th scope="col" class="text-center">Color</th>
            <th scope="col" class="text-center">Born Year</th>
            <th scope="col" class="text-center">Detail</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of cattle">
          <tr>
            <td class="text-center">{{ item.primary_tag_number }}</td>
            <td class="text-center">{{ item.secondary_tag_number }}</td>
            <td class="text-center">{{ item.sex }}</td>
            <td class="text-center">{{ item.color }}</td>
            <td class="text-center">{{ item.birthdate | date:'yyyy':'+0000':'es-AR' }}</td>
            <td class="text-center">{{ item.detail }}</td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="cattle.length === 0" class="empty-table-message">No cattle data available</div>
    </div>
  </div>
</div>
