<div class="container-fluid">
  <div class="app-page-header">
    <h2 class="app-page-title">{{ 'sidebar.animal' | t }}</h2>
  </div>

  <div class="app-card p-3">
    <div class="app-toolbar">
      <input class="form-control form-control-sm" type="search" [value]="searchTerm"
        (input)="updateSearch($any($event.target).value)" [placeholder]="'common.search' | t">
      <select class="form-select form-select-sm" [value]="selectedSex" (change)="updateSexFilter($any($event.target).value)">
        <option value="ALL">{{ 'common.all' | t }}</option>
        <option value="M">{{ 'animal.male' | t }}</option>
        <option value="F">{{ 'animal.female' | t }}</option>
      </select>
    </div>

    <div class="table-responsive app-table">
      <table aria-describedby="table-animal" class="table table-striped table-hover">
        <thead>
        <tr>
          <th scope="col" class="text-center">{{ 'animal.primaryTag' | t }}</th>
          <th scope="col" class="text-center">{{ 'animal.secondaryTag' | t }}</th>
          <th scope="col" class="text-center">{{ 'animal.sex' | t }}</th>
          <th scope="col" class="text-center">{{ 'animal.color' | t }}</th>
          <th scope="col" class="text-center">{{ 'animal.bornYear' | t }}</th>
          <th scope="col" class="text-center">{{ 'common.detail' | t }}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of paginatedAnimals">
          <td class="text-center">{{ item.primary_tag_number }}</td>
          <td class="text-center">{{ item.secondary_tag_number }}</td>
          <td class="text-center">{{ item.sex }}</td>
          <td class="text-center">{{ item.color }}</td>
          <td class="text-center">{{ item.birthdate | date:'yyyy':'+0000':'es-AR' }}</td>
          <td class="text-center">{{ item.detail }}</td>
        </tr>
        </tbody>
      </table>
      <div *ngIf="filteredAnimals.length === 0" class="empty-table-message">{{ 'animal.empty' | t }}</div>
    </div>

    <div class="d-flex justify-content-end mt-2" *ngIf="filteredAnimals.length > 0">
      <ul class="pagination pagination-sm app-pagination mb-0">
        <li class="page-item" [class.disabled]="page === 1">
          <button type="button" class="page-link" (click)="goToPage(page - 1)">&laquo;</button>
        </li>
        <li class="page-item" *ngFor="let pageNumber of pageNumbers" [class.active]="page === pageNumber">
          <button type="button" class="page-link" (click)="goToPage(pageNumber)">{{ pageNumber }}</button>
        </li>
        <li class="page-item" [class.disabled]="page === totalPages">
          <button type="button" class="page-link" (click)="goToPage(page + 1)">&raquo;</button>
        </li>
      </ul>
    </div>
  </div>
</div>
