.login__container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    backdrop-filter: blur(2px);
}

.login__card{
    width: 450px;
    background-color: var(--primary-color);
}

.login__card h1{
    color: var(--fourth-color);
    font-size: 2em;
}

.login__card h3{
    color: var(--fourth-color);
    font-size: 1em;  
}

input{
    background-color: var(--second-color);
}

.login__enter-button{
    background-color: var(--third-color);
}
  
.login__image-background {
    background-image: url("../../../../assets/login_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
}

.see-password-section{
    text-align: left;
}

.forgot-password-section{
    text-align: right;
}
